
<div class="container-fluid" >
    <div class="row">
        <div class="col left-pane">
            <div class="app-box" id="firstBox">
                <img src="./../../assets/lamp.png" class=" app-box-img" alt="...">
                <div class="app-box-desc">
                <h5 class="app-box-desc-title"><a routerLink="" routerLinkActive="active">BED LAMP</a></h5>
                <p class="app-box-desc-text">In Bedroom</p>
                </div>
            </div>
            <div class="app-box">
                <img src="./../../assets/ac.png" class=" app-box-img" alt="...">
                <div class="app-box-desc">
                <h5 class="app-box-desc-title"><a routerLink="ac" routerLinkActive="active">NORIA AC</a></h5>
                <p class="app-box-desc-text">In Bedroom</p>
                </div>
            </div>
            <div class="app-box">
                <img src="./../../assets/lock.png" class=" app-box-img" alt="...">
                <div class="app-box-desc">
                <h5 class="app-box-desc-title"><a routerLink="doorlock" routerLinkActive="active">DOOR LOCK</a></h5>
                <p class="app-box-desc-text">In Home Office</p>
                </div>
            </div>
            <div class="app-box">
                <img src="./../../assets/tv.png" class=" app-box-img" alt="...">
                <div class="app-box-desc">
                <h5 class="app-box-desc-title"><a routerLink="tv" routerLinkActive="active">LG TV</a></h5>
                <p class="app-box-desc-text">In Living room</p>
                </div>
            </div>
            <div class="app-box">
                <img src="./../../assets/thermostat.png" class=" app-box-img" alt="...">
                <div class="app-box-desc">
                <h5 class="app-box-desc-title"><a routerLink="thermostat" routerLinkActive="active">THERMOSTAT</a></h5>
                <p class="app-box-desc-text">In Bedroom</p>
                </div>
            </div>
        </div>
    </div>
</div>