<div class="container-fluid">
    <div class="row">
        <!-- Main panel here-->
        <div class="col-md-1">

        </div>
        <div class="col-md-11">
            <div class="row" id="mainHeading">
                <div class="col-8" >
                    <h3 style="font-size: 48px;"><b>DEVICES</b></h3>
                </div>
                <div class="col-3">
                    <div id="addNewDevice" class='box add'><img src="./../../assets/plus-dk.png" alt=""></div>
                </div>
            </div>
            <div class="row" id="subHeading">
                <div class="col-8" >
                    <h4 ><b>BED LAMP</b></h4> 
                </div>
                <div class="col-3">
                    <h4 id="toggleButton">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </h4>
                </div>
            </div>
        
            <div id="shades"class="row">
                <div class="col-md-1">
                    <p><b>SHADES</b></p> 
                </div>
                <div class="col-md-10">
                    <hr class="dotted">
                </div>
            </div>

            <div id="colorPallette" class="row">
                <div class="d-flex justify-content-between col-md-11">
                    <div class='box one' ></div>
                    <div class='box two'></div>
                    <div class='box three'></div>
                    <div class='box four'></div>
                    <div class='box five'></div>
                </div>
            </div>
            
        
            <div id="modes" class="row">
                <div class="col-md-1">
                    <p><b>MODE</b></p>
                </div>
                <div class="col-md-10">
                    <hr class="dotted">
                </div>
            </div>
        
            <div id="intensity" class="row ">
                <div class="col-md-1 ">
                    <p><b>INTENSITY  </b></p>
                </div>
                <div class="col-md-10">
                    <hr class="dotted">
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-8 d-flex justify-content-between">
                    <div id="arc-slider" class="rslider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
